/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

h4, h2, h1, h3, body {
  font-family:'Roboto', sans-serif;
}

#index-banner {
    background-image: url("/images/background.jpg");
}

.post-content img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.sidenav {
  padding: 50px 50px 50px 50px;
}

.tap-target {
  background-color: orange;
}

/* label color */
.input-field label {
  color: #000;
}

/*TEXT*/
/* label focus color */
.input-field input[type="text"]:focus:not([readonly]) + label, .input-field input[type="email"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #e65100;
}
/* label underline focus color */
.input-field input[type="text"]:focus:not([readonly]), .input-field input[type="email"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e65100;
  box-shadow: 0 1px 0 0 #e65100;
}
/* valid color */
.input-field input[type="text"]:not([readonly]).valid, .input-field input[type="email"]:not([readonly]).valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"]:not([readonly]).invalid, .input-field input[type="email"]:not([readonly]).invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}