{% for item in navigation.main %}
<li>
    <a href="{{ item.url | safe }}" class="">{{ item.label }}</a>
</li>
{% endfor %}
<li>
    <a class="btn waves-effect waves-light orange darken-4" href="https://github.com/bturquet/jamstack-skeleton" target="_blank" rel="noopener">Download</a>
</li>
